.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.aboutcard {
  background-color: #222222;

  .cards {
    width:90%;
     margin-left: auto;
    margin-right: auto;
  }

  .cards > ul > li {
    display: flex;
    flex-direction: column-reverse;
    background-color: #000000;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin-top: 20%;
    border:unset;
    align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        text-align: center;
      color:white;
  }

  .cards .cards-card-body
  {
    margin:unset;
  }

  .cards > ul > li img {
    width: 100%;
    aspect-ratio: unset;
    object-fit: cover;
  }

  h5 {
    font-size: 14px;
    font-weight: 300;
  }
}
