.columns > div {
  display: flex;
  flex-direction: column;
}
.columns-container{
  position: relative;
  /* z-index: 2; */
}
.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* Our partners */
.our-partners-title p{
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 32px;
}
.our-partners{
  background-color: white;
  margin: 1% auto;
  color: black;
  padding: 24px 32px;
  gap: 16px;
  border-radius: 16px;
  width: 90%;
  height: 100%;
}
.our-partners div{
  text-align: center;
}
@media (width >= 900px) {
  .our-partners{
    width: 50%;
  }
}
/* .our-partners picture{
  width: 100%;
  height: 100%;
  text-align: center;
} */

.our-partners img{
  scale: 0.7;
  width: auto;
  height: auto;
}

.impact {
  background-color: var(--black-color);
  margin: 0;
  padding: 10px;

  @media (width >= 900px) {
    background-color: var(--black-color);
    margin: 0;
    padding: 60px;
    }

  div {
    background-color: var(--black-color);
    border-radius: 0;
    /* margin: 20px; */
  padding:30px;

  @media (width >= 900px) {
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 30px;
  }
  div {
    background-color: var(--background-color);
    border-right: 0;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
    

    &:last-child
    {
        border:none;
    }
  }
  @media (width >= 900px) {
    div {
      background-color:var(--background-color);
      border-right: 1px solid var(--black-color);
      border-radius: 0;
      text-align: center;
      margin-bottom: 0;

      &:last-child
      {
          border:none;
      }
    }
  }
  div {
      p {
        color: var(--black-color);
        &:first-child {
          font-size: 48px;
          font-weight: 600;
          color: var(--green-color);
          margin-top: 0;
        }
        &:last-child {
          font-size: 16px;
          font-weight: 400;
        }
      }
      h2 {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}
